[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Prasasd
[access "refs/for/refs/*"]
	read = group user/Prasasd
	push = group user/Prasasd
	label-Code-Review = -2..+2 group user/Prasasd
	label-Verified = -1..+1 group user/Prasasd
	rebase = group user/Prasasd
	removeReviewer = group user/Prasasd
	submit = group user/Prasasd
[access "refs/heads/*"]
	read = group user/Prasasd
	create = group user/Prasasd
	push = +force group user/Prasasd
	pushMerge = group user/Prasasd
[access "refs/tags/*"]
	push = +force group user/Prasasd
	pushTag = group user/Prasasd
	pushSignedTag = group user/Prasasd
